#wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 21.05% 25% 25% 25%;
    grid-template-rows: 12.5vh 30vh 50vh 50vh 12.5vh; 
    grid-template-areas: 
    'hd hd hd hd'
    'm1 m1 m1 m1'
    'm1 m1 m1 m1'
    'm1 m1 m1 m1'
    'ft ft ft ft';
    margin: 0 0px;
}

body{
    background-color: #e74c3c;
    margin: 0px;
}

#lenk{
    color: #333;
    font-weight: bold;
}

.flex1 {
    margin-left: auto;  

    padding: 10px;

}

.flex1 a{
    margin: 8px;
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}

.flex1 a:hover {
    color: orange;
    text-decoration: underline;
}


h1{
    font-family: Abril Fatface;
    padding-left: 50px;
    font-size: 3rem;
    color: #2c3e50;
}

p{
    font-family: roboto;
}

h1 .Savvy {
    color: #e74c3c;
}

header{
    grid-area: hd;
    justify-content: center;
    position: sticky;
    top: 0;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: #F7E7CE;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

main{
    grid-area: m1;
    display: flex;
    padding: 20px;
    top: 0;
    justify-content: space-evenly;
    margin-right: 20px;
    flex-wrap: wrap;
}

#per1, #per2, #per3, #per4, #per4, #per5, #per6{
    background-color: whitesmoke;
    width: 25%;
    height: 45%;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
}


footer{
    grid-area: ft;
    font-size: 1.1rem;
    background-color: #F7E7CE;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

footer p{
    margin: 10px;
}

#imgper{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    border: 1px solid #555;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}