#wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 21.1% 25% 25% 25%;
    grid-template-rows: 12.5vh 25vh 25vh 25vh 12.5vh; 
    grid-template-areas: 
    'hd hd hd hd'
    'm1 m1 m1 ..'
    'as .. m2 m2'
    'as m3 m3 ..'
    'ft ft ft ft';
    margin: 0 0px;
}

body{
    background-color: #e74c3c;
    margin: 0px;
}

#lenk{
    color: #333;
    font-weight: bold;
}

.flex1 {
    margin-left: auto;  

    padding: 10px;

}

.flex1 a{
    margin: 8px;
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}

.flex1 a:hover {
    color: orange;
}

h1{
    font-family: Abril Fatface;
    padding-left: 50px;
    font-size: 3rem;
    color: #2c3e50;
}

h1 .Savvy {
    color: #e74c3c;
    display: inline-block;
}

header{
    grid-area: hd;
    justify-content: center;
    align-items: center;
    padding: 20px;
    display: flex;
    background-color: #F7E7CE;
    font-size: 1.5rem;

}

#main1, #main2, #main3{
    padding: 10px;
    border-radius: 8px;
}

#main1{
    grid-area: m1;
    background-color: white;
    margin-left: 20px;
    margin-right: 20px;
}

#main2{
    grid-area: m2;
    background-color: white;
    margin-right: 20px;
}

#main3{
    grid-area: m3;
    background-color: white;
    margin-right: 20px;
}

aside {
    grid-area: as;
    background-color: whitesmoke;
    padding: 5px;
    border-radius: 8px;
    margin-left: 20px;
}

footer{
    grid-area: ft;
    background-color: #F7E7CE;
    padding: 5px;
}