#wrapper {
    display: grid;
    gap: 20px;
    grid-template-columns: 21.05% 22.3% 4% 22.4% 25%;
    grid-template-rows: 12.5vh 25vh 10vh 5vh 5vh 30vh  12.5vh 12.5vh 25vh 12.5vh; 
    grid-template-areas: 
    'hd hd hd hd hd'
    'm1 m1 m1 f1 f2'
    'f3 .. .. f1 f2'
    'f3 .. .. .. ..'
    'f3 f4 .. .. ..'
    'f3 f4 m2 m2 m2'
    'as f4 .. .. f5'
    'as f4 .. .. f5'
    'as m3 m3 m3 f5'
    'ft ft ft ft ft';
    margin: 0 0px;
}

body{
    background-color: #e74c3c;
    margin: 0px;
}

#lenk{
    color: #333;
    font-weight: bold;
}

.flex1 {
    margin-left: auto;  
    padding: 10px;
}

.flex1 a{
    margin: 8px;
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}

.flex1 a:hover {
    color: orange;
    text-decoration: underline;
}

h1{
    font-family: Abril Fatface;
    padding-left: 50px;
    font-size: 3rem;
    color: #2c3e50;
}

h1 .Savvy {
    color: #e74c3c;
}

p{
    font-family: roboto;
}

li{
    font-family: roboto;
}

header{
    grid-area: hd;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    padding: 20px;
    display: flex;
    background-color: #F7E7CE;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#main1, #main2, #main3{
    padding-left: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#main1{
    grid-area: m1;
    background-color: #d8bfa7;
    margin-left: 20px;
    margin-right: 20px;
}

#main2{
    grid-area: m2;
    background-color: #f4a261;
    margin-right: 20px;
}

#main3{
    grid-area: m3;
    background-color: #a8d5ba;
    margin-right: 20px;
}

aside {
    grid-area: as;
    background-color: #a8d5ba;
    padding-left: 15px;
    border-radius: 8px;
    margin-left: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer{
    grid-area: ft;
    font-size: 1.1rem;
    background-color: #F7E7CE;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

footer p{
    margin: 10px;
}

.img1 {
    grid-area: f1;
    border-style: solid;
    border-color: #d8bfa7;
    border-radius: 10px;
    border-width: 3px;
    width: auto;
    height: 140%;
}

.img2 {
    grid-area: f2;
    border-style: solid;
    border-color: #d8bfa7;
    border-radius: 10px;
    border-width: 3px;
    width: auto;
    height: 140%
}

.img3 {
    grid-area: f3;
    border-style: solid;
    border-color: #f4a261;
    border-radius: 10px;
    border-width: 3px;
    margin-left: 20px;
    width: 95%;
    height: 95%;
}

.img4 {
    grid-area: f4;
    border-style: solid;
    border-color: #f4a261;
    border-radius: 10px;
    border-width: 3px;
    width: 95%;
    height: 95%
}

.img5 {
    grid-area: f5;
    border-style: solid;
    border-color: #a8d5ba;
    border-radius: 10px;
    border-width: 3px;
    margin-right: 20px;
    width: auto;
    height: 100%;
    margin-left: 50px;
}