#wrapper {
    display: grid;
    grid-template-columns: 22.5% 27.5% 27.5% 22.5%;
    grid-template-rows: 12.5vh 69vh 70vh 10vh 70vh 12.5vh; 
    grid-template-areas: 
    'hd hd hd hd'
    'ph ph ph ph'
    '.. m1 m1 ..'
    '.. .. .. ..'
    'm2 m2 as as'
    'ft ft ft ft';
    margin: 0 0px;
}

body{
    background-color: #e74c3c;
    margin: 0px;
}

#lenk{
    color: #333;
    font-weight: bold;
}

.flex1 {
    margin-left: auto;  
    padding: 10px;
}

.flex1 a{
    margin: 8px;
    color: gray;
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Arial', sans-serif;
}

.flex1 a:hover {
    color: orange;
    text-decoration: underline;
}

h1{
    font-family: Abril Fatface;
    padding-left: 50px;
    font-size: 3rem;
    color: #2c3e50;
}

h1 .Savvy {
    color: #e74c3c;
}

p{
    font-family: roboto;
}


header{
    grid-area: hd;
    justify-content: center;
    align-items: center;
    position: sticky;
    z-index: 2;
    top: 0;
    gap: 20px;
    padding: 20px;
    display: flex;
    background-color: #F7E7CE;
    font-size: 1.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#main1, #main2 {
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 8px;
}

#main1{
    grid-area: m1;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -40px;
}


#main1 p{
   font-size: 1.3rem;
}

#main1 h2{
    font-size: 2.5rem;
    text-decoration: underline;
 }

#main2{
    grid-area: m2;
    margin-right: 20px;
    color: white;
    margin-left: 20px;
}

#main2 p{
    font-size: 1.2rem;
}
 
#main2 h2{
     font-size: 2rem;
     text-decoration: underline;
}

aside{
    grid-area: as;
    overflow: hidden;
}

footer{
    grid-area: ft;
    font-size: 1.1rem;
    background-color: #F7E7CE;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

footer p{
    margin: 10px;
}

.parabel {
    grid-area: ph;
    position: relative;
    width: 100%;
    overflow: hidden;
}
  
.parabel img {
    width: 100%;
    height: auto;
    display: block;
}
  
.parabel-form {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}

.bild1{
    height: 100%;
    border-top-left-radius: 150px;
}